@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.homepage
{
    background-color: #F7F6F2;
}

.homepage h1 
{
    padding: 30px;
    text-align: center;
    font-family: 'Explora', cursive;
    color: black;
    font-weight: bold;
    font-size: 64px;
}

.homepage > .monuments
{
    background-image: url("https://wallpaperaccess.com/full/758246.jpg") ;
    height: 71vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.homepage > .monuments h3
{
    position: absolute;
    top: 54%;
    left: 20%;
    color: #CF7500;
    text-align: center;
    font-weight: bold;
}

.homepage > .monuments h2
{
    position: absolute;
    top: 60%;
    left: 20%;
    text-align: center;
    color: #CF7500;
    font-weight: bold;
}

.homepage > .monuments button
{
    position: absolute;
    top: 68%;
    left: 20%;
    text-align: center;
    background-color: transparent;
    padding: 12px;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
    color: #F0A500;
    font-weight: bold;
}

.homepage > .blogscreated
{
    display: flex;
    transition: 1s;
    justify-content: space-around;

}

.homepage > .blogscreated section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32.6746px;
    position: static;
    height: 35vh;
    width: 40vh;
    transition: 1s;
    background-color: #79B4B7;
    border-radius: 10%;
}

.homepage > .blogscreated section h2 
{
    position: static;
    height: 50px;   
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100px;
}

.homepage > .blogscreated section p img 
{
    height: 50px; 
    border-radius: 10%; 
}

.homepage > .blogscreated section button 
{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16.2105px;
    margin-top: 150px;
    position: absolute;
    width: 148.44px;
    height: 50.41px;
    border: 0;
    background-color: transparent;
}

.homepage > .blogscreated section button  i 
{
    margin-left: 10px;
}

.homepage > .blogscreated section button:hover
{
    box-shadow: none;
    background: #48B774;
    border-radius: 39.4888px;
    color: white;
}

.homepage > .blogcustomers 
{
    display: flex;
    justify-content: space-around;
    transition: 1s;
}

.homepage > .blogcustomers > .eachcustomers
{
    background-color: #4B6587;
    color: white;
    padding: 12px;
    border-radius: 10%;
    transition: 1s;
}

.homepage > .blogcustomers > .eachcustomers div
{
    display: flex;
}

.homepage > .blogcustomers > .eachcustomers div p
{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: -3px;
}

.homepage > .blogcustomers > .eachcustomers div p i
{
    font-size: 15px;
}

.homepage > .blogcustomers > .eachcustomers div img
{
    position: static;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.homepage > .blogcustomers > .eachcustomers p
{
    width: 300px;
    margin-top: 5px;
}

@media screen and (max-width : 1198px)
{
    .homepage > .blogcustomers > .eachcustomers p
    {
        width: 250px;
    }
}

@media screen and (max-width : 1051px)
{
    .homepage > .blogcustomers > .eachcustomers p
    {
        width: 200px;
    }
}

@media screen and (max-width : 1001px)
{
    .homepage > .blogcustomers > .eachcustomers p
    {
        width: 150px;
    }
}

@media screen and (max-width : 751px)
{
    .homepage > .blogcustomers 
    {
        display: block;
        
    }

    .homepage > .blogcustomers > .eachcustomers 
    {
        margin-left: 10px;
        border-radius: 2%;
        width: 95%;
    }

    .homepage > .blogcustomers > .eachcustomers p
    {
        width: 100%;
    }
}

@media screen and (max-width : 600px)
{
    .homepage > .blogscreated
    {
        display: block;
    }

    .homepage > .blogscreated section 
    {
        width: 90%;
        margin-left: 15px;
    }
}

@media screen and (max-width : 321px)
{
    .homepage > .blogscreated section 
    {
        height: 41vh;
    }
}