@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.tableblogs
{
    margin-left: 350px;
}

.tableblogs h1
{
    margin-top: -600px;
    font-family: 'Merriweather', serif;
    color: #03506F;
}

.tableblogs div
{
    height: 351px;
    overflow: auto;
}

.tableblogs div table 
{
    border-collapse: collapse;
    margin-top: 50px;
}

.tableblogs div table th
{
    background-color: #F7D59C;
}

.tableblogs div table th , .tableblogs div table td
{
    border: 1px solid black;
    text-align: center;
    width:12%;
    height: 50px;
}

@media screen and (max-width : 719px){
    .tableblogs
    {
        margin-left: 100px;
    }
}