.tabletickets
{
    margin-left: 350px;
}

.tabletickets h1
{
    margin-top: -90vh;
    font-family: 'Merriweather', serif;
    color: #03506F;
}

.tabletickets div
{
    height: 351px;
    overflow: auto;
}

.tabletickets div table 
{
    border-collapse: collapse;
    margin-top: 50px;
}

.tabletickets div table th
{
    background-color: #F7D59C;
}

.tabletickets div table th , .tabletickets div table td
{
    border: 1px solid black;
    text-align: center;
    width:10%;
    height: 50px;
}

@media screen and (max-width : 719px){
    .tabletickets
    {
        margin-left: 100px;
    }
}