@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Zen+Antique&display=swap');

.home
{
    background-color: #FAEEE0;
    height: 155vh;
}

.home > .blog
{
    background-image: url("https://cdn.wallpapersafari.com/8/81/3ZPS9q.png");
    height: 60vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.home > .blog > h1
{
    font-family: 'Explora', cursive;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
}

.home > .blog > h2
{
    font-family: 'Pacifico', cursive;
    margin-left: 10vh;
    margin-top: 30px;
}

.home > .blog > p
{
    font-family: 'Pacifico', cursive;
    margin-top: 50px;
    margin-left: 10vh;
    font-size: 30px;
}

.home >.nameblogs h3
{
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.home >.nameblogs> .myblogs h3
{
    color: black;
    text-transform: capitalize;
    font-size: 60px;
}

@media screen and (max-width : 490px){
    .home > .blog > h2
    {
        margin-left: 0;
    }

    .home > .blog > p 
    {
        margin-left: 0;
        font-size: 25px;
    }
}

@media screen and (max-width : 376px){
    .home > .blog > h2
    {
        font-size: 20px;
    }

    .home > .blog > p 
    {
        margin-left: 0;
        font-size: 20px;
    }
}

@media screen and (max-width : 360px){

    .home
    {
        height: 167vh;
    }
}

@media screen and (max-width : 321px){

    .home
    {
        height: 188vh;
    }

    .home > .blog > h1
    {
        font-size: 50px;
    }

    .home > .blog > h2
    {
        font-size: 20px;
    }

    .home > .blog > p 
    {
        margin-left: 0;
        font-size: 20px;
    }
}